<body class="bg-gray-100">


  <div class="flex flex-col md:flex-row items-start p-4">
    

    <div class="md:w-1/3 p-4 flex flex-col items-center text-center">
      <h1 class="text-5xl font-semibold text-white tracking-wide leading-tight mb-4">
        <span class="font-playwrite text-6xl">A</span>BOUT ME
      </h1>
      <p class="text-lg text-white font-semibold leading-relaxed max-w-4xl mb-6">
        I'm a beginner software developer with a relentless passion for learning and exploring new technologies. Every line of code is an opportunity for growth, and every challenge fuels my curiosity to delve deeper into the world of programming.
      </p>
      <div class="group w-fit">
        <img src="Precious.jpg" alt="Portfolio"
          class="w-64 h-auto rounded-lg shadow-lg transition-transform duration-300 ease-in-out hover:rotate-6 hover:scale-105 hover:shadow-xl hover:translate-x-3 hover:translate-y-6">
      </div>
    </div>

  
    <div class=" wave-container p-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 m-auto">
        <span><div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="javascript.png" alt="JavaScript" class="w-full h-auto mb-4">
          <h3 class=" wave-text text-center font-bold">javascript</h3>
        </div></span>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="angular.png" alt="Angular" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">Angular</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="html.png" alt="HTML" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">HTML</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="css.png" alt="CSS" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">CSS</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="nodejs.png" alt="Node.js" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">Node.js</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="github.png" alt="Github" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">Github</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="mysql.png" alt="MySQL" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">MySQL</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="type.png" alt="TypeScript" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">TypeScript</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="rest-api.png" alt="Rest API" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">Rest API</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
          <img src="express-js.png" alt="Express.js" class="w-full h-auto mb-4">
          <h3 class="text-center font-bold">Express.js</h3>
        </div>
        <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
            <img src="gi.png" alt="Express.js" class="w-full h-auto mb-4">
            <h3 class="text-center font-bold">Git</h3>
          </div>
          <div class="card bg-white p-1 rounded-lg shadow flex flex-col items-center justify-center">
            <img src="tailwind.png" alt="Express.js" class="w-full h-auto mb-4">
            <h3 class="text-center font-bold">Express.js</h3>
          </div>
      </div>
      </div>
    </body>

